input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=body] {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=radio] {
    padding: 0;
    margin: 0;
    border: 0;
    height: 1px;
    width: 1px;

}

label {
    margin-bottom: 10px;
    display: block;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
}

.col-10{
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-40 {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-33 {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-100{
    -ms-flex: 100%;
    flex: 100%;
}

.col-25,
.col-33,
.col-50,
.col-100{
    padding: 0 16px;
}

.button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #ffffff;
    background-color: #3f3f3f;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
button:hover{
    background-color: #787878;
    color: #ffffff;
}

button:active {
    background-color: #878787;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=radio] {
    padding: 20px;
    margin: 0 10px 0 0;
}

table {
    border-collapse: collapse;
    overflow-y:scroll;
    height:100px;
    display:block;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

th {
    height: 20px;
    background: #3f3f3f;
    color: #ffffff;

}