
body {
    background-image: url("https://cutewallpaper.org/21/mountain-goat-wallpapers/47-Bing-Mountain-Goat-Wallpaper-on-WallpaperSafari.jpg");
    background-repeat:no-repeat;

    background-size:  cover;
}